@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  background: white;
  font-family: 'Poppins', serif;
}

section {
  width: 100%;
}

h1,
h2 {
  line-height: normal !important;
}

.pending {
  color: #e9a52b;
}
.success {
  color: #4ecb71;
}
.failed {
  color: #d34053;
}

.slideLoad {
  transition: all ease-in-out 0.5s;
  animation: toNfro 4s linear 0s infinite;
  position: fixed;
  left: 0;
  bottom: 0;
}

.customBlur {
  backdrop-filter: blur(7px);
}

/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Hide the scrollbar track (background) */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* Firefox */
* {
  scrollbar-color: #888 transparent;
  scrollbar-width: thin;
}

@keyframes toNfro {
  0% {
    width: 0%;
    left: 0%;
  }
  50% {
    width: 70%;
    left: 100%;
  }
  100% {
    width: 0%;
    left: 0%;
  }
}

.spin {
  animation: spin 1s linear infinite;
  font-size: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@layer components {
  .max-ctn {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }

  .input {
    @apply w-full p-3 border rounded-lg bg-transparent max-lg:border-white/10 focus:outline-none focus:ring-2 focus:ring-blue-500 max-lg:placeholder:text-white/10 max-lg:text-white/60;
  }

  .label {
    @apply text-sm text-gray-600 font-medium flex justify-between max-lg:text-white;
  }

  .tradePanelInput {
    @apply block px-2.5 pb-1.5 pt-3 w-full text-sm text-white bg-transparent rounded-lg border border-white/20 focus:outline-none focus:border-blue-500;
  }

  .tradePanelLabel {
    @apply absolute text-sm text-white/40 duration-300 transform 
    -translate-y-3 scale-75 top-1 left-0 z-10 bg-[#1a1b1c] px-2 
    peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 
    peer-placeholder-shown:top-1/2 peer-placeholder-shown:left-2 
    peer-focus:top-1 peer-focus:scale-75 peer-focus:-translate-y-3 
    pointer-events-none; /* This makes the label non-clickable */
  }

  .editUserInput {
    @apply shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
  }

  .editUserLabel {
    @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white;
  }

  .primaryBtn {
    @apply text-white py-[18px] px-4 inline-block rounded-xl font-semibold text-sm bg-gray-900;
  }
}

@layer base {
  body {
    @apply font-normal text-base relative z-1 bg-white;
  }
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@layer utilities {
  .pad {
    @apply sm:px-16 px-5 sm:py-24 py-12;
  }

  .pad-x {
    @apply sm:px-16 px-5;
  }

  .pad-y {
    @apply sm:py-24 py-12;
  }

  .pad-l {
    @apply sm:pl-16 pl-5;
  }

  .pad-r {
    @apply sm:pr-16 pr-5;
  }

  .pad-t {
    @apply sm:pt-24 pt-12;
  }

  .pad-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-900 text-lg leading-7;
  }

  .hd-text {
    @apply text-3xl font-semibold md:text-5xl;
  }

  .desc {
    @apply mb-6 max-w-[528px] text-xl md:mb-10 lg:mb-12;
  }

  .avatar {
    @apply inline-block h-12 w-12 rounded-full object-cover z-10;
  }

  .chat-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
  .inbox-height {
    @apply h-[calc(100vh_-_8.125rem)] lg:h-[calc(100vh_-_5.625rem)];
  }
}

/* third-party libraries CSS */
#tv-attr-logo {
  display: none;
}

@media screen and (max-width: 500px) {
  #slide {
    overflow: -moz-hidden-unscrollable;
  }

  select option {
    background: inherit;
    color: gray;
  }
}
